/*STYLING OF IMAGES*/

#imgGraph {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	width: 100%;
	max-height: 100%;
	border: 2px solid black;
	border-radius: 15px;
}


/*INTERFACE CONTAINERS AND PANEL STYLING*/


.panelMain {
	display: grid;
	grid-area: 2 / 2 / span 1 / span 1;
	grid-template-columns: 50% 50%;
	background-color: #349BCE;
	border: 2px solid #686666;
	border-radius: 25px;
	padding: 10px;
}

.panelMainHardwareDisplay {
	display: grid;
	grid-area: 1 / 1 / span 1 / span 1;
	background-color: #349BCE;
	border: 2px solid #686666;
	border-radius: 25px;
	padding: 10px;
	margin-right:3px;
}

.panelMainGraphs {
	display: grid;
	grid-area: 1 / 2 / span 1 / span 1;
	background-color: #349BCE;
	border: 2px solid #686666;
	border-radius: 25px;
	padding: 10px;
}


/*USER TYPE SELECT BOX*/

#ddlHardware {
  margin-top: 5px;
  margin-bottom: 5px;
  height:40px;
  text-align:center;
}

/*USERS TABLE*/
.tblHardware {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border: 2px solid black;
  max-height: 20px;
}

.tblHardware td, .tblHardware th {
  border: 1px solid gray;
  width:50%;
}

.tblHardware tr:nth-child(even){background-color: #f2f2f2;}
.tblHardware tr:nth-child(odd){background-color: #B9B8B8;}

#tblHardwareContent tr:hover {background-color: #8795D8;}

.tblHardware th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 2px solid black;
  background-color: #4CAF50;
  color: white;
}