/*INTERFACE CONTAINERS AND PANEL STYLING*/


.panelMain {
	display: grid;
	grid-area: 2 / 2 / span 1 / span 1;
	grid-template-columns: 50% 50%;
	grid-template-rows: 70% 30%
	background-color: #349BCE;
	border: 2px solid #686666;
	border-radius: 25px;
}

.panelMainLocationDisplay {
	display: grid;
	grid-area: 1 / 1 / span 1 / span 1;
	background-color: #349BCE;
	margin-right:3px;
}

.panelMainCompanyDisplay {
	display: grid;
	grid-area: 1 / 2 / span 1 / span 1;
	background-color: #349BCE;
}

.panelMainButtons {
	grid-area: 2 / 1 / span 1 / span 2;
	background-color: #349BCE;
	padding: 10px;
}

/*Table Columns*/

.id{
	width:10% !Important;
}

.col1{
	width:45%;
	border: 1px solid gray;
}
.col2{
	width:45%;
	border: 1px solid gray;
}

/*LOCATION TABLE*/
.tblLocation {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border: 2px solid black;
  max-height: 20px;
}


.tblLocation td, .tblLocation th {
  border: 1px solid gray !Important;
  
}

.tblLocation tr:nth-child(even){background-color: #f2f2f2;}
.tblLocation tr:nth-child(odd){background-color: #B9B8B8;}

#tblLocationContent tr:hover {background-color: #8795D8;}

.tblLocation th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 2px solid black;
  background-color: #4CAF50;
  color: white;
}

/*COMPANY TABLE*/
.tblCompany {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
  border: 2px solid black;
  max-height: 20px;
}

.tblCompany td, .tblCompany th {
  border: 1px solid gray;
}

.tblCompany tr:nth-child(even){background-color: #f2f2f2;}
.tblCompany tr:nth-child(odd){background-color: #B9B8B8;}

#tblCompanyContent tr:hover {background-color: #8795D8;}

.tblCompany th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  border: 2px solid black;
  background-color: #4CAF50;
  color: white;
}

/*FORM BUTTONS*/
.btnAdd, .btnRemove, .btnUpdate {
	display: inline-block !Important;
	width: 30% !Important;
	height: 80%;
	padding-left: 10px;
	padding-right: 10px;
}

/*USER TYPE SELECT BOX*/

#ddlLocation {
  margin-top: 5px;
  margin-bottom: 5px;
  height:40px;
  text-align:center;
}
